@font-face {
  font-family: "BricolageGrotesque";
  src: url(../assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf);
}

@font-face {
  font-family: "DMSans";
  src: url(../assets/fonts/DM_Sans/static/DMSans-Light.ttf);
}

@font-face {
  font-family: "DMSans_medium";
  src: url(../assets/fonts/DM_Sans/static/DMSans-Medium.ttf);
}

main {
  padding-bottom: 50px;
}

h1 {
  color: white;
  text-align: center;
  font-family: "BricolageGrotesque";
}

.search_area {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.search_area img {
  position: relative;
  left: 45px;
}

.search_area input {
  max-width: 500px;
  width: 100%;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: hsl(243, 23%, 24%);
  padding: 14px 60px;
}

.search_area button {
  color: white;
  background-color: hsl(233, 67%, 56%);
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}

.main_section_area {
  display: flex;
  margin-top: 50px;
  width: 100%;
}

.weather_details_area {
  width: 65%;
}

.country_temp_area {
  display: flex;
  align-items: center;
  background: url("/assets/images/bg-today-large.svg") no-repeat;
  background-size: cover;
  background-position: center;
  max-width: initial;
  width: 100%;
  padding: 100px 0px;
  border-radius: 20px;
}

.city-country_name {
  color: white;
  margin-left: 30px;
  font-size: 24px;
  font-family: "DMSans_medium";
}

.date {
  color: hsl(250, 6%, 84%);
  font-family: "DMSans_medium";
  font-size: 14px;
  margin: 10px 0px 0px 30px;
}

.weather_temp_area {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
}

.weather_condition_icon {
  width: 110px;
}

.temp {
  color: white;
  font-size: 60px;
  font-family: "DMSans_medium";
  margin-right: 30px;
}

/* ////////////////////////////////////////////////////////////////////////////// */

.current_weather_info_area {
  display: flex;
  margin-top: 30px;
}

.current_weather_info_box {
  background-color: hsl(243, 23%, 24%);
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

.current_weather_info_box_title {
  color: hsl(240, 6%, 70%);
  font-family: "DMSans";
}

.current_weather_info {
  color: hsl(250, 6%, 84%);
  font-family: "DMSans_medium";
  margin-top: 15px;
  font-size: 20px;
}

/* /////////////////////////////////////////////////////////////////// */

.daily_weather_info_area_title {
}

.daily_weather_info_area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.day_weather_info_box {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: hsl(243, 23%, 24%);
  max-width: 75px;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 15px 20px 0px 0px;
  border-radius: 10px;
}

.day {
  text-align: center;
  font-family: "DMSans";
}

.day_weather_condition_img_area {
  display: flex;
  justify-content: center;
}

.day_weather_condition_img {
  width: 30px;
}

.day_max_min_temp_area {
  display: flex;
}

.max_day_temp,
.min_day_temp {
  font-size: 14px;
}

.min_day_temp_area {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.min_day_temp {
  margin-left: 20px;
}

.hourly_forcast_section {
  width: 35%;
}

@media (max-width: 855px) {
  .country_temp_area {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;
  }

  .city-country_name-date_area {
    margin-left: 20px;
  }

  .city-country_name {
    margin: 0px;
  }

  .date {
    margin: 10px 0px 0px;
  }

  .current_weather_info_area {
    flex-wrap: wrap;
  }

  .current_weather_info_box {
    width: 38%;
  }

  .current_Precipitation_info_box,
  .current_wind_speed_info_box {
    margin-top: 20px;
  }

  .current_wind_speed_info_box {
    margin-left: 0px;
  }
}

@media (max-width: 735px) {
  .main_section_area {
    flex-wrap: wrap;
    justify-content: center;
  }

  .weather_details_area {
    width: 100%;
  }

  .current_weather_info_area {
    justify-content: center;
  }

  .current_weather_info_box {
    width: 30%;
    margin-left: 0px;
    margin-top: 20px;
  }

  .current_humidity_info_box,
  .current_Precipitation_info_box {
    margin-left: 10%;
  }

  .day_weather_info_box {
    max-width: 90px;
  }

  .hourly_forcast_section {
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 489px) {
  .city-country_name-date_area {
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }

  .weather_temp_area {
    justify-content: center;
  }

  .temp {
    margin-right: 0px;
  }
}

@media (max-width: 420px) {
  .current_weather_info_box {
    width: 100%;
  }

  .current_humidity_info_box,
  .current_Precipitation_info_box {
    margin-left: 0px;
  }

  .daily_weather_info_area_title {
    text-align: center;
    font-size: 20px;
  }

  .daily_weather_info_area {
    justify-content: center;
    margin-top: 15px;
  }
}
