<app-header (weatherParamChange)="changeUnit($event)"></app-header>

<main>
  <section>
    <h1>How's the sky looking today?</h1>
    <div class="search_area">
      <img src="../assets/images/icon-search.svg" alt="">
      <input type="text" placeholder="Search for a place..."  (keydown.enter)="getCountryWeather()" >
      <button (click)="getCountryWeather()" (keydown.enter)="getCountryWeather()">Search</button>
    </div>
  </section>
  <section class="main_section_area">
    <section class="weather_details_area">
      <div class="country_temp_area">
        <div>
          <div class="city-country_name">Berlin, Germany</div>
          <div class="date">Tuesday, Aug 5, 2025</div>
        </div>
        <div class="weather_temp_area">
          <img class="weather_condition_icon" [src]="getWeatherIcon(weatherDetails.current.weather_code)" alt="">
          <div class="temp">{{weatherDetails.current.temperature_2m}}°</div>
        </div>
      </div>

      <div class="current_weather_info_area">
        <div class="current_weather_info_box" style="margin: 0px;">
          <div class="current_weather_info_box_title">Feels Like</div>
          <div class="current_weather_info">{{weatherDetails.current.apparent_temperature}}{{weatherDetails.current_units.apparent_temperature}}</div>
        </div>
        <div class="current_weather_info_box">
          <div class="current_weather_info_box_title">Humidity</div>
          <div class="current_weather_info">{{weatherDetails.current.relative_humidity_2m}}%</div>
        </div>
        <div class="current_weather_info_box">
          <div class="current_weather_info_box_title">Wind</div>
          <div class="current_weather_info">{{weatherDetails.current.wind_speed_10m}} {{weatherDetails.current_units.wind_speed_10m}}</div>
        </div>
        <div class="current_weather_info_box">
          <div class="current_weather_info_box_title">Precipitation</div>
          <div class="current_weather_info">{{weatherDetails.current.precipitation}} {{weatherDetails.current_units.precipitation}}</div>
        </div>
      </div>


      <div style="margin-top: 50px;">
        <div class="daily_weather_info_area_title">Daily forcast</div>
        <div class="daily_weather_info_area" >    
          <div class="day_weather_info_box" *ngFor="let dayMaxTemp of weatherDetails?.daily?.temperature_2m_max; let i=index">
            <div class="day">{{weatherDetails.daily.dayNames[i]}}</div> 
            <div class="day_weather_condition_img_area">
              <img class="day_weather_condition_img" [src]="getWeatherIcon(weatherDetails.daily.weather_code[i])" alt="Weather icon"/>            </div>
            <div class="day_max_min_temp_area">
              <div class="max_day_temp">{{dayMaxTemp}}°</div>
              <div class="min_day_temp_area">
                <div class="min_day_temp">{{weatherDetails.daily.temperature_2m_min[i]}}°</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hourly_forcast_section">
      <app-hourly-forcast [weatherDetails]="this.weatherDetails"></app-hourly-forcast>
    </section>
  </section>
</main>