<header>
  <div class="main_page_logo">
    <img src="../assets/images/logo.svg" alt="">
  </div>
  <div class="units_settings_area">
    <nav>
      <button class="units_settings_btn" (click)="showHideNav()">
        <img src="../assets/images/icon-units.svg" alt="">
        <div>Units</div>
        <img src="../assets/images/icon-dropdown.svg" alt="">
      </button>
      <div class="options_area">
        <div class="units_settings_area_title">Switch to imperial</div>
        <div class="unit_area ">
          <div class="unit_title">Temperature</div>
          <div role="button" class="temp_unit_btn_area active_unit_btn" (click)="insertTempUnit('celsius')">
            <div class="temp_unit_btn">Celsius (°C)</div>
            <div class="unit_checkmark_icon_area">
              <img src="/assets/images/icon-checkmark.svg" alt="">
            </div>
          </div>
          <div role="button" class="temp_unit_btn_area" (click)="insertTempUnit('fahrenheit')">
            <div class="temp_unit_btn">Fahrenheit (°F)</div>
            <div class="unit_checkmark_icon_area">
              <img src="/assets/images/icon-checkmark.svg" alt="">
            </div>
          </div>
        </div>
        <hr size=".1px" color="grey" style="margin-top: 10px;">
        <div class="unit_area">
          <div class="unit_title">Wind Speed</div>
          <div role="button" class="wind_speed_unit_btn_area" (click)="insertWindSpeedUnit('kmh')">
            <div class="wind_speed_unit_btn">km/h</div>
            <div class="unit_checkmark_icon_area">
              <img src="/assets/images/icon-checkmark.svg" alt="">
            </div>
          </div>
          <div role="button" class="wind_speed_unit_btn_area active_unit_btn" (click)="insertWindSpeedUnit('mph')">
            <div class="wind_speed_unit_btn">mph</div>
            <div class="unit_checkmark_icon_area">
              <img src="/assets/images/icon-checkmark.svg" alt="">
            </div>
          </div>
        </div>
        <hr size=".1px" color="grey" style="margin-top: 10px;">
        <div class="unit_area">
          <div class="unit_title">precipitation</div>
          <div role="button" class="precipitation_unit_btn_area" (click)="insertPrecipitationUnit('mm')">
            <div class="precipitation_unit_btn ">Millimeters (mm)</div>
            <div class="unit_checkmark_icon_area">
              <img src="/assets/images/icon-checkmark.svg" alt="">
            </div>
          </div>
          <div role="button" class="precipitation_unit_btn_area active_unit_btn" (click)="insertPrecipitationUnit('inch')">
            <div class="precipitation_unit_btn">Inch (in)</div>
            <div class="unit_checkmark_icon_area">
              <img src="/assets/images/icon-checkmark.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<main>
  <section>
    <h1>How's the sky looking today?</h1>
    <div class="search_area">
      <img src="../assets/images/icon-search.svg" alt="">
      <!-- <input type="text" [(ngModel)]="countryName" placeholder="Search for a place..."> -->
      <!-- <button (click)="getCountryWeather()" [disabled]="countryName==''">Search</button> -->
      <input type="text" placeholder="Search for a place..."  (keydown.enter)="getCountryWeather()" >
      <button (click)="getCountryWeather()" (keydown.enter)="getCountryWeather()">Search</button>
    </div>
  </section>
  <section class="main_section_area">
    <div class="weather_details_area">
      <div class="country_temp_area">
        <div>
          <div class="city-country_name">Berlin, Germany</div>
          <div class="date">Tuesday, Aug 5, 2025</div>
        </div>
        <div class="weather_temp_area">
          <img class="weather_condition_icon" src="/assets/images/icon-sunny.webp" alt="">
          <div class="temp">{{weatherDetails.current.temperature_2m}}°</div>
        </div>
      </div>

      <div class="current_weather_info_area">
        <div class="current_weather_info_box" style="margin: 0px;">
          <div class="current_weather_info_box_title">Feels Like</div>
          <div class="current_weather_info">{{weatherDetails.current.apparent_temperature}}{{weatherDetails.current_units.apparent_temperature}}</div>
        </div>
        <div class="current_weather_info_box">
          <div class="current_weather_info_box_title">Humidity</div>
          <div class="current_weather_info">{{weatherDetails.current.relative_humidity_2m}}%</div>
        </div>
        <div class="current_weather_info_box">
          <div class="current_weather_info_box_title">Wind</div>
          <div class="current_weather_info">{{weatherDetails.current.wind_speed_10m}} {{weatherDetails.current_units.wind_speed_10m}}</div>
        </div>
        <div class="current_weather_info_box">
          <div class="current_weather_info_box_title">Precipitation</div>
          <div class="current_weather_info">{{weatherDetails.current.precipitation}} {{precipitationUnit}}</div>
        </div>
      </div>


      <div style="margin-top: 50px;">
        <div class="daily_weather_info_area_title">Daily forcast</div>
        <div class="daily_weather_info_area" >    
          <div class="day_weather_info_box" *ngFor="let dayMaxTemp of weatherDetails?.daily?.temperature_2m_max; let i=index">
            <!-- <div class="day">{{getDayName(weatherDetails.daily.time[i])}}</div>  -->
             <!-- <div class="day">{{weatherDetails.daily.time[i] | date: 'mediumDate'}}</div> -->
              <div class="day">{{weatherDetails.daily.dayNames[i]}}</div> 
            <div class="day_weather_condition_img_area">
              <img class="day_weather_condition_img" src="assets/images/icon-rain.webp" alt="">
            </div>
            <div class="day_max_min_temp_area">
              <div class="max_day_temp">{{dayMaxTemp}}°</div>
              <div class="min_day_temp_area">
                <div class="min_day_temp">{{weatherDetails.daily.temperature_2m_min[i]}}°</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="hourly_forcast_area">
      <div style="display: flex;">
        <div>Hourly forcast</div>
        <div style="display: flex; flex-grow: 1; justify-content: end;">
          this part was in a comment
        <select [(ngModel)]="selectedDay" name="" id="">
          <option value="">select a day....</option>
          <option [value]="day" *ngFor="let day of days">{{day}}</option>
        </select>
          end of the comment
        <select [(ngModel)]="selectedDay" name="" id="">
          <option value="">select a day....</option>
          <option [value]="day" *ngFor="let day of days">{{day.name}}</option>
        </select>
        //////////////////////////////
        <div>{{selectedDay| json}}</div>
        ////////////////////////////
        </div>
      </div>
      <div class="hour_forcast_box">
        <img class="hour_weather_condition_img" style="width: 20px;" src="../assets/images/icon-rain.webp" alt="">
        <div class="hour"></div>
        <div style="display: flex; flex-grow:1; justify-content: end;">
          this part was in a comment
          <div>{{weatherDetails.daily.hourly[0] }}</div>
           end of the comment
        </div>
      </div>
    </div>-->
  </section>
</main>




 <!-- {{day}} -->