<header>
  <div class="main_page_logo">
    <img src="../assets/images/logo.svg" alt="">
  </div>
  <div class="select_options_area">
    
  </div>
</header>

<main>
  <section>
    <h1>How's the sky looking today?</h1>
    <div class="search_area">
      <img src="../assets/images/icon-search.svg" alt="">
      <input type="text" [(ngModel)]="countryName" placeholder="Search for a place...">
      <button (click)="getCountryWeather()" [disabled]="countryName==''">Search</button>
    </div>
  </section>
  <section class="main_section_area">
    <div class="weather_details_area">
      <div class="country_temp_area">
        <div>
          <div class="city-country_name">Berlin, Germany</div>
          <div class="date">Tuesday, Aug 5, 2025</div>
        </div>
        <div class="weather_temp_area">
          <img class="weather_condition_icon" src="/assets/images/icon-sunny.webp" alt="">
          <div class="temp">68°</div>
        </div>
      </div>


      <div style="margin-top: 50px;">
        <div class="daily_info_area_title">Daily forcast</div>
        <div class="daily_info_area" >    
          <div class="day_info_box" *ngFor="let dayMaxTemp of weatherDetails?.daily?.temperature_2m_max; let i=index">
            <div class="day">{{getDayName(weatherDetails.daily.time[i])}}</div>
            <div class="day_weather_condition_img_area">
              <img class="day_weather_condition_img" src="assets/images/icon-rain.webp" alt="">
            </div>
            <div class="day_max_min_temp_area">
              <div class="max_day_temp">{{dayMaxTemp}}</div>
              <div class="min_day_temp_area">
                <div class="min_day_temp">{{weatherDetails.daily.temperature_2m_min[i]}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="hourly_forcast"></div> -->
  </section>
</main>




 <!-- {{day}} -->