@font-face {
  font-family: "BricolageGrotesque";
  src: url(/Weather-app/assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf);
}

@font-face {
  font-family: "DMSans";
  src: url(/Weather-app/assets/fonts/DM_Sans/static/DMSans-Light.ttf);
}

@font-face {
  font-family: "DMSans_medium";
  src: url(/Weather-app/assets/fonts/DM_Sans/static/DMSans-Medium.ttf);
}

.hourly_forcast_area {
  height: 600px;
  overflow-y: auto;
  margin-left: 30px;
  border-radius: 10px;
  background-color: hsl(243, 27%, 20%);
}

.hourly_forcast_area::-webkit-scrollbar {
  width: 6px;
}

.hourly_forcast_area::-webkit-scrollbar-track {
  background: transparent;
}

.hourly_forcast_area::-webkit-scrollbar-thumb {
  background-color: hsl(243, 23%, 24%);
  border-radius: 12px;
  border: 2px solid transparent;
}

.hourly_forcast_area::-webkit-scrollbar-thumb:hover {
  background-color: #3c3c5c;
}

.hourly_forcast_header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: hsl(243, 27%, 20%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.hourly_forcast_area_title {
  font-family: "DMSans";
}

.hourly_forcast_select_area {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.hourly_forcast_nav_btn {
  display: flex;
  align-items: center;
  background-color: hsl(243, 23%, 30%);
  padding: 10px;
  margin-left: 7px;
  border-radius: 10px;
}

.day_name {
}

.arrow_icon_area {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  margin-left: 15px;
}

.arrow_icon {
  width: 20px;
}

.hourly_forcast_nav {
  display: none;
  background-color: hsl(243, 23%, 24%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
  max-width: 100px;
  width: 100%;
  position: absolute;
  right: 20px;
}

.active_nav {
  display: block;
}

.day_option {
  margin-top: 10px;
}

.active_day {
  color: red;
}

.hourly_forcast_boxes_area {
  padding: 0px 20px 20px 20px;
}

.hour_forcast_box {
  display: flex;
  background-color: hsl(243, 23%, 24%);
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 15px;
}

.hour_temp {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

@media (max-width: 735px) {
  .hourly_forcast_area {
    margin-left: 0px;
  }
}
