<div class="hourly_forcast_area">
    <div class="hourly_forcast_header">
        <div class="hourly_forcast_area_title">Hourly forcast</div>
        <div class="hourly_forcast_select_area">
            <div class="hourly_forcast_nav_btn" role="button" (click)="toggleNav()">
                <div class="day_name">{{navbtnSelectedDay}}</div>
                <div class="arrow_icon_area">
                    <img class="arrow_icon" src="/Weather-app/assets/images/icon-dropdown.svg" alt="">
                </div>
            </div>
            <div class="hourly_forcast_nav">
                <div class="day_option" (click)="activeDay($event,day.name)" *ngFor="let day of daysArray" [class.active_day]="day.name === daysName[today]">
                    {{day.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="hourly_forcast_boxes_area">
        <div class="hour_forcast_box" *ngFor="let hours of selectedDay.times; let i=index">
            <img class="hour_weather_condition_img" style="width: 20px;" [src]="getWeatherIcon(weatherDetails.hourly.weather_code[i])" alt="">
            <div class="hour">{{hours}}</div>
            <div class="hour_temp">
                <div>{{selectedDay.temps[i]}}°</div>
            </div>
        </div>
    </div>
</div>

 <!-- *ngFor="let hourTemp of weatherDetails.hourly.temperature_2m" -->
 <!-- {{hourTemp}} -->

      
