<div class="hourly_forcast_area">
    <div style="display: flex;">
    <div>Hourly forcast</div>
    <div style="display: flex; flex-grow: 1; justify-content: end;">
    <select name="" id="">
        <option value=""></option>
    </select>
    </div>
    </div>
    <div class="hour_forcast_box">
    <img class="hour_weather_condition_img" style="width: 20px;" src="../assets/images/icon-rain.webp" alt="">
    <div class="hour"></div>
    <div style="display: flex; flex-grow:1; justify-content: end;">
        <div>{{weatherDetails.daily.hourly[0] }}</div>
    </div>
    </div>
</div>